$color-primary-dark: #899441;
$color-primary: #A8B64F;

$color-secondary-dark: #B7280F;
$color-secondary: #DC3E22;
$color-secondary-light: #EE735D;
$color-secondary-lighter: #EA8979;

$color-gray-dark: #999;
$color-gray: #C4C4C4;
$color-gray-light: #E4E4E4;
$color-gray-lighter: #F4F4F4;

$color-black: #333;

$color-white: white;

$transition-duration: 150ms;
// For checking animations
// $transition-duration: 500ms;
$transition-animation-duration: 300ms;
$transition-timing: ease-in-out;

$font-sf-ui: "SF UI Display", "Tahoma", sans-serif;
