.title {
  margin-bottom: 6px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.list {
  font-size: 16px;
  line-height: 33px;
  transform: translateX(10px);
}

.item {
  padding-left: 12px;
}
