@use 'scss-global/vars' as vars;

.overlay {
  position: fixed;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.50);
}

.modal {
  inset: 50% auto auto 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background: vars.$color-white;
  overflow: auto;
  outline: none;
}
